@page "{id:int}"
@model DetailsModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using metruyenchu.Authorization

@{
    ViewData["Title"] = @Model.Story.Title;
}

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Story.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Story.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Story.Details)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Story.Details)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Story.Image)
        </dt>
        <dd>
            <img src="@Model.Story.Image" class="img-thumbnail">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Story.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Story.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Story.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Story.Status)
        </dd>
    </dl>
</div>

@if (Model.Story.Status != Models.StoryStatus.Approved && Model.Story.Status == Models.StoryStatus.Reviewing)
{
    @if ((await AuthorizationService.AuthorizeAsync(
     User, Model.Story, MTCOperations.Approve)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.Story.Id" />
            <input type="hidden" name="status" value="@Models.StoryStatus.Approved" />
            <button type="submit" class="btn btn-xs btn-success">Approve</button>
        </form>
    }
}

@if (Model.Story.Status != Models.StoryStatus.Rejected && Model.Story.Status == Models.StoryStatus.Reviewing)
{
    @if ((await AuthorizationService.AuthorizeAsync(
     User, Model.Story, MTCOperations.Reject)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.Story.Id" />
            <input type="hidden" name="status" value="@Models.StoryStatus.Rejected" />
            <button type="submit" class="btn btn-xs btn-danger">Reject</button>
        </form>
    }
}

<div>
    @if ((await AuthorizationService.AuthorizeAsync(
         User, Model.Story,
         MTCOperations.Update)).Succeeded)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Story.Id">Edit</a>
        <text> | </text>
    }
    <a asp-page="./Index">Back to List</a>
</div>
<!-- </snippet> -->
