@page
@model IndexModel

@{
    ViewData["Title"] = "Tìm eBook";
}

<div class="row mb-2">
    @if(Model.PaginatedStories.Count() > 0)
    {
        @foreach (var item in Model.PaginatedStories)
        {
            <div class="col-md-6">
                <div class="g-0 border rounded d-flex mb-4 shadow-sm">
                    <div class="w-25">
                        @if(String.IsNullOrEmpty(item.Image))
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(item.StoryImage.Image)" class="img-thumbnail">
                        }
                        else
                        {
                            <img src="@item.Image" class="img-thumbnail">
                        }
                        
                        @* <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>MTC</title>
                            <img src="@item.Image" class="img-thumbnail">
                             <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">MTC</text> 
                        </svg> *@

                    </div>
                    <div class="p-2 flex-grow-1">
                        <a class="h3 text-overflow-1-lines mb-0">@item.Title</a>
                        @* <div class="mb-1 text-muted">Nov 12</div> *@
                        <p class="card-text mb-auto">@item.Details</p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="text-muted">Không tìm thấy eBook nào</div>
    }
</div>

@{
    var prevDisabled = !Model.PaginatedStories.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedStories.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.PaginatedStories.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.PaginatedStories.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>