<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Manage/Stories>
                    <i class="bi-bookmark-check"></i>
                    Tủ eBook Của Tôi
                </a>
            </li>
            <li class="nav-isitem">
                <a class="nav-link" asp-area="" asp-page="/Manage/Stories/Create">
                    <i class="bi-book"></i>
                    Thêm eBook Mới
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Manage/Stories">
                    <i class="bi-book-half"></i>
                    eBook Đã Đăng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Management/Stories/Index">
                    <i class="bi-book-half"></i>
                    Tất cả eBook
                </a>
            </li>
        </ul>

    </div>
</nav>