@using Microsoft.AspNetCore.Identity
@using metruyenchu.Models


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi-house-door"></i>
                    Quản Lý
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i route="Manage/Stories/Create" class="bi-bookmark-check"></i>
                    Tủ eBook Của Tôi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" route="Manage/Stories/Create" asp-page="Manage/Stories/Create">
                    <i class="bi-book"></i>
                    Thêm eBook Mới
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="Manage/Stories">
                    <i class="bi-book-half"></i>
                    eBook Đã Đăng
                </a>
            </li>
        </ul>
    </div>
</nav>