@using Microsoft.AspNetCore.Identity
@using metruyenchu.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav px-3">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item text-nowrap">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link">Đăng Xuất</button>
            </form>
        </li>
    }
</ul>