﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* 
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a,
a:hover {
  text-decoration: none;
}



a {
  color: #333;
  background-color: transparent;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(//static.8cache.com/img/bg.jpg) top center repeat-x #F4F4F4;
  margin-bottom: 60px;
  color: #4E4E4E;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}

.fz-14 {
  font-size: .875rem;
}

.text-tertiary {
  color: #999 !important;
}

.fz-body {
  font-size: .9375rem;
}

.text-overflow-1-lines {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}

.page-content {
  background-color: #fff;
  padding: 1.25rem;
  position: relative;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.media-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

 #page-wrapper {
  padding:0;
  min-height:568px;
  background:#edf1f5;
  padding-bottom:60px
 }