@page "{slug:string}"
@model StoryDetailsModel

@{

    ViewData["Title"] = @Model.Story.Title;
}

<div class="page-content rounded-2">
    <div class="row">
        <div class="col-3">
            @if (!String.IsNullOrEmpty(Model.Story.Image))
            {
                <img class="img-thumbnail" src="@Model.Story.Image">

            }
            else
            {
                <img class="img-thumbnail"
                    src="data:image;base64,@System.Convert.ToBase64String(Model.Story.StoryImage.Image)">

            }

        </div>
        <div class="col-8">
            <h1>@Model.Story.Title</h1>
            <div class="d-flex flex-row mb-3">
                <div class="me-2 mb-2 px-2 rounded-3 border border-secondary text-secondary">@Model.Story.Author</div>
                <div class="me-2 mb-2 px-2 rounded-3 border border-danger text-danger">Đang ra</div>
            </div>
            <div class="d-flex flex-row mb-3">
                <a class="me-2 mb-2 px-2 btn btn-success">Tải xuống</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-4by3">
                <embed class="embed-responsive-item" src="~/books/@Model.Story.BookName#view=FitH&toolbar=0"></embed>
            </div>
        </div>
        
    </div>
</div>


<div>

    <a asp-page="./Index">Back to List</a>
</div>
<!-- </snippet> -->
