@page
@model CreateModel

@{

    ViewData["Title"] = "Tạo eBook mới";
    Layout = "_ManageLayout";
}


<div class="row card p-4">
    <div class="col-4">
        <div class="card-title">
            <h3>Đăng eBook mới</h3>
        </div>
        <div class="card-body">

            <form enctype="multipart/form-data" method="post">
                <label asp-for="FileImage.FormFile"></label>
                <div class="input-group mb-3">
                    <input asp-for="FileImage.FormFile" type="file" class="form-control">
                    @* <input asp-page-handler="Upload" class="btn btn-outline-secondary" type="submit" value="Upload"> *@
                    <span asp-validation-for="FileImage" class="text-danger"></span>
                </div>
                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                <div class="form-group mb-3">
                    <label asp-for="Story.Title" class="control-label"></label>
                    <input asp-for="Story.Title" class="form-control" />
                    <span asp-validation-for="Story.Title" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Story.Details" class="control-label"></label>
                    <textarea asp-for="Story.Details" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Story.Details" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Story.Author" class="control-label"></label>
                    <input asp-for="Story.Author" class="form-control" />
                    <span asp-validation-for="Story.Author" class="text-danger"></span>
                </div>

                <label asp-for="FilePDF"></label>
                <div class="input-group mb-3">
                    <input asp-for="FilePDF" type="file" class="form-control">
                    <span asp-validation-for="FilePDF" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Thể loại</label>
                    <select class="form-select" asp-for="genreSelected" asp-items="Model.genreOptions">
                    </select>
                </div>
                
                
                <div class="form-group mb-3">
                    <input type="submit" value="Đăng Bài" class="btn btn-primary float-end" />
                </div>
            </form>
        </div>
        
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        function ImgPre(input) {
            if (input.files[0]) {
                var uploading = new FileReader();
                uploading.onload = function(displayimg) {
                $("#img-upload").attr('src', displayimg.target.result);
                }
                uploading.readAsDataURL(input.files[0]);
            }
        }
    </script>
}