te@page
@using Humanizer;
@model metruyenchu.Pages.Manage.Stories.IndexModel
@{

    ViewData["Title"] = "Trang chủ";



    Layout = "_Managelayout";
}

<table class="table table-striped table-borderless table-hover border-top fz-14">
    <tbody>
        @foreach (var item in Model.PaginatedStories)
        {
            <tr>
                <td class="align-middle text-tertiary">
                    <span class="text-overflow-1-lines">
                        @item.GenreStories[0].Genre.Name
                    </span>
                </td>
                <td class="align-middle w-25">
                    <h2 class="fz-body m-0 text-overflow-1-lines">
                        <a asp-page="../../StoryDetails" asp-route-id="@item.Id">@item.Title</a>
                    </h2>
                </td>
                <td class="align-middle">
                    <span class="text-overflow-1-lines">
                        @item.Author
                    </span>
                </td>
                <td class="align-middle text-tertiary">
                    <span class="text-overflow-1-lines">
                        @item.Publisher.UserName
                    </span>
                </td>
                <td class="align-middle text-tertiary text-right">
                    @item.UpdatedAt.Humanize()
                </td>
            </tr>

        }
    </tbody>
</table>