@page
@using Humanizer;
@model metruyenchu.Pages.Management.Stories.IndexModel
@{

    ViewData["Title"] = "Trang chủ";
    Layout = "_Managelayout";
}

@if(Model.PaginatedStories.Count > 0)
{
<table class="table table-striped table-borderless table-hover border-top fz-14">
    <tbody>
            @foreach (var item in Model.PaginatedStories)
            {
                <tr>
                    <td class="align-middle text-tertiary">
                        <span class="text-overflow-1-lines">
                            @item.GenreStories[0].Genre.Name
                        </span>
                    </td>
                    <td class="align-middle w-25">
                        <h2 class="fz-body m-0 text-overflow-1-lines">
                            <a asp-page="../../StoryDetails" asp-route-slug="@item.Slug">@item.Title</a>
                        </h2>
                    </td>
                    <td class="align-middle">
                        <span class="text-overflow-1-lines">
                            @item.Author
                        </span>
                    </td>
                    <td class="align-middle text-tertiary">
                        <span class="text-overflow-1-lines">
                            @item.Publisher.UserName
                        </span>
                    </td>
                    <td class="align-middle text-tertiary text-right">
                        <div class="d-flex flex-row">
                            <form class="me-2" style="display:inline;" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="hidden" name="status" value="@Models.StoryStatus.Rejected" />
                                <button type="submit" class="btn btn-danger px-2"><i class="bi bi-file-minus"></i></button>
                            </form>
                            <form class="" style="display:inline;" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="hidden" name="status" value="@Models.StoryStatus.Approved" />
                                <button type="submit" class="btn btn-success px-2"><i class="bi bi-file-plus"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>

            }
    </tbody>
</table>
}
else
{
    <div>Không có eBook nào chưa xét duyệt</div>
}